<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension point="org.eclipse.core.resources.natures"
		id="nature">
		<runtime>
			<run class="com.github.rustdt.ide.core.RustNature"/>
		</runtime>
		<builder id="com.github.rustdt.ide.core.Builder" />
	</extension>
	
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="com.github.rustdt.ide.core.expressions.isNatureProject">
			<adapt type="org.eclipse.core.resources.IProject">
				<test
					property="org.eclipse.core.resources.projectNature"
					value="com.github.rustdt.ide.core.nature">
				</test>
			</adapt>
		</definition>
		<definition id="com.github.rustdt.ide.core.expressions.isResourceInLangProject">
			<and>
			<instanceof value="org.eclipse.core.resources.IResource" />
				<test
					property="org.eclipse.core.resources.projectNature"
					value="com.github.rustdt.ide.core.nature">
				</test>
			</and>
		</definition>
	</extension>
	
	<!-- ============ TEXT ============= -->
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			default-charset="UTF-8"
			file-extensions="%contentType_FileExtensions_actual"
			id="com.github.rustdt.ide.core.content.source"
			name="%contentType_Name_actual"
			priority="high">
		</content-type>
	</extension>
	
	<!-- ============ BUILDER/PROBLEMS ============= -->
	
	<extension point="org.eclipse.core.resources.builders"
		id="Builder"
		name="%Builder_Name">
		<builder
			callOnEmptyDelta="true"
			isConfigurable="true">
		<run class="com.github.rustdt.ide.core.operations.RustBuilder" />
	</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.markers"
		id="build_problem"
		name="%ProblemMarker_Name">
		<super type="org.eclipse.core.resources.problemmarker" />
		<persistent value="true" />
	</extension>
	
	<extension point="org.eclipse.core.resources.markers"
		id="source_problem"
		name="%ProblemMarker_Name">
		<super type="com.github.rustdt.ide.core.build_problem" />
		<persistent value="false" />
	</extension>
	
	
	<!-- ============ Launch configuration type ============= -->
	
	<extension
		 point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			 delegate="com.github.rustdt.ide.core.launch.RustLaunchConfigDelegate"
			 id="com.github.rustdt.ide.core.LaunchConfigurationType"
			 modes="run"
			name="%localApplication">
		</launchConfigurationType>
	</extension>
	
</plugin>
