<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/project-nature.ovr.png"
            id="com.github.rustdt.ide.ui.NatureImage"
            natureId="com.github.rustdt.ide.core.nature">
      </image>
	</extension>
	
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="com.github.rustdt.ide.ui.RustPerspective"
			icon="icons/views/Perspective.16.png"
			id="com.github.rustdt.ide.ui.Perspective"
			name="%LangPerspective.name">
		</perspective>
	</extension>
	
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="com.github.rustdt.ide.ui.Perspective">
			<showInPart id="org.eclipse.ui.navigator.ProjectExplorer" />
		</perspectiveExtension>
	</extension>
	
	<!-- ============ EDITOR ============= -->
		
	<extension
		 id="com.github.rustdt.DocumentSetupParticipant"
		 name="Rust Document Setup Participant"
		 point="org.eclipse.core.filebuffers.documentSetup">
		<participant
			class="com.github.rustdt.ide.ui.text.RustDocumentSetupParticipant"
			contentTypeId="com.github.rustdt.ide.core.content.source">
		</participant>
	</extension>
	
	
	<extension point="org.eclipse.ui.editors">
		<editor
		 class="com.github.rustdt.ide.ui.editor.RustEditor"
		 contributorClass="com.github.rustdt.ide.ui.editor.RustEditorActionContributor"
		 default="true"
		 icon="icons/obj/editor_file.png"
		 id="com.github.rustdt.ide.ui.editor.RustEditor"
		 name="%LangEditor.name">
			<contentTypeBinding contentTypeId="com.github.rustdt.ide.core.content.source" />
		</editor>
	</extension>
	
	<extension point="org.eclipse.ui.contexts">
		<context
			name="%LangEditContext.name"
			description="%LangEditContext.description"
			parentId="org.eclipse.ui.textEditorScope"
			id="com.github.rustdt.ide.ui.Contexts.Editor">
		</context>
	</extension>
	
	
	
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
		<target 
			id="com.github.rustdt.ide.ui.Editor.HyperlinkCodeTarget"
			name="%hyperlinkDetector.target.name">
		<context type="org.eclipse.ui.texteditor.ITextEditor" />
		</target>
	</extension>
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="com.github.rustdt.ide.ui.editor.RustHyperlinkDetector"
			id="com.github.rustdt.ide.ui.Editor.HyperlinkDetector"
			name="%hyperlinkDetector.name"
			targetId="com.github.rustdt.ide.ui.Editor.HyperlinkCodeTarget">
		</hyperlinkDetector>
	</extension>
	
	<!-- ============ Actions/Commands ============= -->
	
	<extension point="org.eclipse.ui.commands">
		<category
			name="%CommandsCategory.name"
			description="%CommandsCategory.description"
			id="com.github.rustdt.ide.ui.commands.Category">
		</category>
		
		<command
			categoryId="com.github.rustdt.ide.ui.commands.Category"
			defaultHandler="com.github.rustdt.ide.ui.actions.RustOpenDefinitionHandler"
			description="%OpenDefinitionAction.tooltip"
			id="com.github.rustdt.ide.ui.commands.openDefinition"
			name="%OpenDefinitionAction.name">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="com.github.rustdt.ide.ui.commands.openDefinition"
			contextId="com.github.rustdt.ide.ui.Contexts.Editor"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="F3">
		</key>
	</extension>
	
	<!-- ============ Preference pages ============= -->
	
	<extension point="org.eclipse.ui.preferencePages">
		<page
			class="com.github.rustdt.ide.ui.preferences.RustRoot__PreferencePage"
			id=   "com.github.rustdt.ide.ui.preferences.RustRoot__PreferencePage"
			name="%LangRootPreferencePage.name">
		</page>
		
		<page
			category="com.github.rustdt.ide.ui.preferences.RustRoot__PreferencePage"
			class="com.github.rustdt.ide.ui.preferences.RustDaemonPreferencePage"
			id=   "com.github.rustdt.ide.ui.preferences.RustDaemonPreferencePage"
			name="%LangDaemonToolPrefPage.name">
		</page>
		<page
			category="com.github.rustdt.ide.ui.preferences.RustRoot__PreferencePage"
			class="com.github.rustdt.ide.ui.preferences.RustToolsConsolePrefPage"
			id=   "com.github.rustdt.ide.ui.preferences.RustToolsConsolePrefPage"
			name="%LangToolsConsolePrefPage.name">
		</page>
		
		<page
			category="com.github.rustdt.ide.ui.preferences.RustRoot__PreferencePage"
			class="com.github.rustdt.ide.ui.preferences.RustEditorPreferencePage"
			id=   "com.github.rustdt.ide.ui.preferences.EditorPreferencePage"
			name="%LangEditorPreferencePage.name">
		</page>
		<page
			category="com.github.rustdt.ide.ui.preferences.EditorPreferencePage"
			class="com.github.rustdt.ide.ui.preferences.RustEditorTypingPreferencePage"
			id=   "com.github.rustdt.ide.ui.preferences.EditorSmartTypingPreferencePage"
			name="%LangEditorTypingPreferencePage.name">
		</page>
		<page
			category="com.github.rustdt.ide.ui.preferences.EditorPreferencePage"
			class="com.github.rustdt.ide.ui.preferences.RustSourceColoringPreferencePage"
			id=   "com.github.rustdt.ide.ui.preferences.SourceColoringPreferencePage"
			name="%LangEditorSyntaxColoringPreferencePage.name">
		</page>
		
	</extension>
	
	
	<!-- ============ Wizards ============= -->
	
	<extension point="org.eclipse.ui.newWizards">
		<category
			id="com.github.rustdt.ide.ui.category"
			name="%LangWizardsCategory.name"/>
		<wizard
			category="com.github.rustdt.ide.ui.category"
			id="com.github.rustdt.ide.ui.wizards.NewProjectWizard"
			class="com.github.rustdt.ide.ui.wizards.RustProjectWizard"
			icon="icons/actions/new_project_wizard.16.png"
			name="%NewProjectWizard.name"
			finalPerspective="com.github.rustdt.ide.ui.Perspective"
			preferredPerspectives="com.github.rustdt.ide.ui.Perspective"
			project="true">
		</wizard>
	</extension>
	
	
	<!-- ============ Launch ============= -->
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="com.github.rustdt.ide.core.LaunchConfigurationType"
			icon="icons/actions/application_launch.png"
			id="com.github.rustdt.ide.core.LaunchConfigurationType_Image">
		</launchConfigurationTypeImage>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="com.github.rustdt.ide.ui.launch.RustTabGroup"
			description="%LangTabGroup.description"
			id="com.github.rustdt.ide.ui.RustLaunchTabGroup"
			type="com.github.rustdt.ide.core.LaunchConfigurationType">
		</launchConfigurationTabGroup>
	</extension>
	
</plugin>
